/* Personal Info List */
.about-list{
    li{
        &:not(:last-child){
            padding-bottom: 20px;
        }
    }
    .title{
        opacity: .8;
        text-transform: capitalize;
        color: #a43f49;
    }
    .value{
        font-weight: 600;
    }
}