/* Section */
.section{
    color: #fff;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section-heading{
    text-align: center;
    padding: 80px 45px;
    
    h2{
        font-size: 32px;
        font-weight: 700;
        color: #fff;
    }

    .line-dec{
        width: 60px;
        height: 3px;
        background-color: #a43f49;
        margin: 10px auto;
    }

    span{
        margin-top: 5px;
        font-size: 16px;
        color: #fff;
        letter-spacing: 0.5px;
    }
}