/* Personal Info List */
.about-list li:not(:last-child) {
  padding-bottom: 20px;
}

.about-list .title {
  opacity: .8;
  text-transform: capitalize;
  color: #a43f49;
}

.about-list .value {
  font-weight: 600;
}
